/* Screen Layout */
body{
	background-color : #33ccff;
}
#header {
	width : 100%;
	height : 10%;
	background-color : #33ccff;
	color : #fff;
}
#menu {
	float : left;
	width : 20%;
	height : 80%;
	background-color : #33ccff;
	border-top: 1px solid #33ccff;
}
#content {
	float : left;
	width : 80%;
	height : 90%;
	background-color : #33ccff;
	text-align : center;
}
#title {
	margin-left: auto;
	margin-right: auto;
}

/* Menu and sub menus */
ul li
{
    display: block;
    position: relative;
}

li ul
{
    display: none;
}

ul li a 
{
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #2C5463;
    margin-left: 1px;
    white-space: nowrap;
}

ul li a:hover 
{
    background: #617F8A;
}
li:hover ul 
{
    display: block;
    position: absolute;
	z-index: 1;
}

li:hover li
{
    float: none;
    font-size: 11px;
}

li:hover a 
{
    background: #617F8A;
}

li:hover li a:hover 
{
    background: #95A9B1;
}


